$primary:   #301557;
$secondary: #AA9F39;

$enable-responsive-font-sizes: true;

@import "../../node_modules/bootstrap/scss/bootstrap";

h1 {
    margin-bottom: 0;
    font-size: 1.25rem;
}

.logout {
    font-size: 0.75rem;
}

@media screen and (min-width: 576px) {
    h1 {
        font-size: 2.5rem;
    }

    .logout {
        font-size: 1rem;
    }
}
